/* 定义@mixin，使用@include */

$color: #409eff;;

@mixin one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin multi-line($num: 2) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
}

@mixin block($width: 100%, $height: 100%) {
  display: block;
  width: $width;
  height: $height;
}

@mixin inline-block($width: 100%, $height: 100%) {
  display: inline-block;
  width: $width;
  height: $height;
}

@mixin text($font-size: 16px, $line-height: inhert, $text-align: left, $font-color: #333) {
  font-size: $font-size;
  line-height: $line-height;
  text-align: $text-align;
  color: $font-color;
}

@mixin clear {
  &:after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}